.projects__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;

    .project__item {
        background-color: var(--secondary);
        padding: 1.3rem;
        border-radius: 2rem;
        border: 1px solid var(--transparent);
        transition: var(--transition);


        h3 {
            margin: 1.5rem 0 2 rem;
        }

        .img__container {
            border-radius: 1.5rem;
            overflow: hidden;
        }

        a {
            margin-top: 1rem;
        }

        &:hover {
            border-color: var(--accent);
            background: var(--transparent);
        }
    }
}

.btn__container {
    display: flex;
    gap: 2rem;
}

.hashtags {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;

    div {
        border-radius: 5px;
        padding: 4px 8px;
        font-size: 12px;
        font-weight: bold;
        text-transform: capitalize;
        cursor: pointer;
        color: white;
        font-weight: 600;
    }

    .hashtag0 {
        background-color: #ff3e00;
    }

    .hashtag1 {
        background-color: #22c55e;
    }

    .hashtag2 {
        background-color: #ffcb2b;
    }
}

@media screen and (max-width: 1024px) {
    .projects__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

    .hashtag {
        gap: .2rem;

        span {
            padding: 2px 6px;
            font-weight: normal;
        }
    }
}

@media screen and (max-width: 600px) {
    .projects__container {
        display: flex;
        overflow-x: auto;
    }


}