
.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}

.contact__option {
    background-color: var(--secondary);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid var(--transparent);
    transition: var(--transition);


    a {
        margin-top: 0.7rem;
        display: inline-block;
        font-size: 0.8rem;
    }

    &:hover {
        background-color: var(--transparent);
        border-color: var(--secondary);
    }
}

.contact__icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    input,
    textarea {
        width: 100%;
        padding: 1.5rem;
        border-radius: .5rem;
        background: var(--transparent);
        border: 2px solid var(--secondary);
        resize: none;
        color: var(--text);
    }

    input::placeholder,
    textarea::placeholder {
        color: var(--text);
    }
}



// !tablets
@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        grid-row: 2rem;
    }
}

// !MOBILE
@media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }
}