footer {
    background-color: var(--primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;



    a {
        color: var(--background);
    }


    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin: 0 auto 3rem;
    }
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.footer__details {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;

    a {
        background: var(--background);
        color: var(--text);
        padding: 0.8rem;
        border-radius: .7rem;
        display: flex;
        border: 1px solid transparent;
        transition: var(--transition);

        &:hover {
            background: transparent;
            color: var(--background);
            border-color: var(--background);
        }
    }
}





@media screen and (max-width: 1024px) {
    ul {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__details {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 600px) {}