$color-bg: #12181b;
$color-primary :#00d8ff;
$color-bg-variant :#2a2e30;
$color-primary-variant: #6c7983;
$color-white :#b2becd;
$color-light: #fff;



$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;
$transition: all 400ms ease;