@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



:root {
  --text: hsl(153, 82%, 2%);
  --background: hsl(158, 87%, 94%);
  --primary: hsl(157, 87%, 64%);
  --secondary: hsl(157, 87%, 94%);
  --accent: hsl(157, 87%, 24%);
  --transparent: hsl(157, 87%, 64%);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;
}



[data-theme="dark"] {
  --text: hsl(158, 87%, 94%);
  --background: hsl(153, 82%, 2%);
  --primary: hsl(157, 87%, 64%);
  --secondary: hsl(157, 86%, 14%);
  --accent: hsl(157, 87%, 54%);
  --transparent: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  display: none;
}



body {

  font-family: 'Poppins', sans-serif;
  background: var(--background);
  background-size: 400% 400%;
  color: var(--text);
  line-height: 1.7;
  overflow-x: auto;


}

// ! GENERAL STYLES

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;

  h2 {
    text-align: center;
    color: var(--text);
  }

  h5 {
    text-align: center;
    color: var(--text);
  }

  h2 {
    color: var(--primary);
    margin-bottom: 3rem;
  }
}

.text-light {
  color: var(--text);
}

a {
  color: var(--primary);

  &:hover {
    color: var(--accent);
  }
}


.btn {
  width: max-content;
  display: inline-block;
  color: var(--primary);
  padding: .75rem 1.2rem;
  border-radius: .4rem;
  cursor: pointer;
  border: 1px solid var(--primary);
  transition: var(--transition);

  &:hover {
    background-color: var(--background);
    color: var(--accent);
    border-color: transparent;
  }
}



.btn-primary {
  background-color: var(--primary);
  color: var(--background);
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

// !TABLETS

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

// !MOBILE
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section>h2 {
    margin-bottom: 2rem;
  }
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}